.transaction-item {
	display: flex;
	justify-content: space-between;

	background-color: #f0f0f0;
	padding: 1rem 2rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	font-size: 1rem;
}
