.cards-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin: 0;
	padding: 0;
}

@media (max-width: 480px) {
	.card-list {
		grid-template-columns: 1fr;
	}
}

cards-list > li {
	width: 100%;
}
